<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario para cadastrar alunos</title>
</head>
<body>
    <h1>Formulario</h1>
    <form method="POST" action="/cadastro">
        Nome: <input type="text" name="nome" id="nome"> <br>
        Senha: <input type="password" name="senha" id="senha"> <br>
        Idade: <input type="number" name="idade" id="idade"> <br>
        <input value="Enviar" type="submit">
    </form>
</body>
</html>